.registerWindow {
    width: 90vw;
    justify-content: center;
    display: flex;
    margin-left: 5vw;
    margin-right: -5vw;
}

.register {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input {
    margin-bottom: 10px;
    height: 30px;
}